/* * {
  color: #fff;
} */

.wrap {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.8)
    ),
    url(./5c7d183b1217a_gettyimages_891953288.jpeg);
}

.wrapLoader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bgImage {
  background-repeat: no-repeat;
  background-size: cover;
}
